h2 {
  /* background-color: var(--secondary); */
  border-radius: 1rem;
  font-size: 4rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

#about {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary);
  color: var(--text-secondary);
  font-size: 1.1em;
}

#about > *:not(:last-child) {
  margin-bottom: 0.75rem;
}

#about .row {
  display: flex;
}

#about .row > *:not(:last-child) {
  margin-right: 1rem;
}
