h2 {
  border-radius: 1rem;
  font-size: 4rem;
  margin: 2rem;
  text-align: center;
}

#about {
  margin: 2rem;
  font-size: 1.25em;
  font-family: Londrina Light;
}

#about > *:first-child {
  font-family: Londrina;
}

#about > *:not(:last-child) {
  margin-bottom: 2.5em;
}

#about > .row {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
}

#about > .row > div {
  display: flex;
  flex-direction: column;
}

#about > .row > div > h3 {
  font-size: 1.5em;
}

#about > .row img {
  border-radius: 1em;
  height: auto;
  width: 250px;
}

@media screen and (max-width: 700px) {
  #about > .row {
    flex-wrap: wrap;
  }

  #about > .row > img {
    width: auto;
    min-width: unset;
  }
}

@media screen and (min-width: 800px) {
  #about > .row > div {
    gap: 1rem;
  }
}

@media screen and (min-width: 830px) {
  #about > .row > img {
    width: 200px;
  }
}
