h2 {
  background-color: var(--secondary);
  border-radius: 1rem;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

#contact-wrap {
  display: flex;
  flex-flow: row wrap;
}

#welcome-info-social {
  flex: 1 1 45%;
  margin: 1rem;
  padding: 1rem;
  /* border: 1px solid #563228; */
  border-radius: 1rem;
  background-color: var(--secondary);
  color: var(--text-secondary);
}

#welcome-info-social p {
  margin-bottom: 1rem;
}

#info-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

#info-social svg {
  vertical-align: text-top;
}

#info {
  display: flex;
  flex-direction: column;
}

#social {
  display: flex;
  flex-direction: column;
}

#contact {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  margin: 1rem;
  padding: 1rem;
  /* border: 1px solid #563228; */
  border-radius: 1rem;
  background-color: var(--secondary);
  color: var(--text-secondary);
}

#contact p {
  text-align: center;
}

#contact > #user {
  display: flex;
  flex-flow: row wrap;
}

#contact > #user > * {
  flex-grow: 1;
}

#contact > textarea {
  height: 4rem;
  resize: none;
}

#contact input,
#contact textarea,
#contact button {
  margin: 0.5rem;
  padding: 0.5rem;
}
