:root {
  /* --obstinate-orange: #dc571f; */
  /* --carnival: #ec8c1e; */
  /* --daisy: #f7dd32; */
  /* --honey-bees: #f0d586; */
  /* --alyssum: #f4d6d8; */

  /* tokay colours */
  /* --tokay-1: #ecebe4; */
  /* --tokay-2: #cc998d; */
  /* --tokay-3: #16f4d0; */
  /* --tokay-4: #429ea6; */
  /* --tokay-5: #153b50; */
  /* --tokay-41: #387c82; */

  /* https://www.design-seeds.com/seasons/summer/color-serve-16/ */
  /* --cs16-1: #d7f4fa; */
  /* --cs16-2: #bfe4e3; */
  /* --cs16-3: #7b7b80; */
  /* --cs16-4: #fd9c1a; */
  /* --cs16-5: #fecc67; */
  /* --cs16-6: #fff0c4; */

  /* https://i.pinimg.com/236x/10/c3/48/10c348ecd71f6972c2fbc585d6669191.jpg */
  /* --fl-1: #f49da3; */
  /* --fl-2: #f3bdca; */
  /* --fl-3: #fdd3dd; */
  /* --fl-4: #5fb5a8; */
  /* --fl-5: #82a5a7; */
  /* --fl-6: #92d3cb; */
  /* --fl-31: #ff295b; */
  /* --fl-32: #ffeaef; */
  /* --fl-61: #7ed8cd; */

  /* --primary: #563228; */
  /* --secondary: #8e432e; */
  /* --text-primary: moccasin; */
  /* --text-secondary: moccasin; */

  /* --primary: var(--tokay-41); */
  /* --text-primary: var(--cs16-6); */
  /* --secondary: var(--tokay-4); */
  /* --text-secondary: var(--tokay-1); */
  /* --body: var(--cs16-6); */

  --bg1: #fdd3dd;
  --bg2: #f3bdca;
  --bg3: #f49da3;

  --primary: #5fb5a8;
  --text-primary: #ffffff;
  --secondary: #7ed8cd;
  --text-secondary: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(244, 157, 163);
  background: linear-gradient(var(--bg1), var(--bg2), var(--bg3));
  color: white;
  min-height: 100vh;
}

header {
  color: var(--text-primary);
  /* background-image: url(/static/img/bark-tile.jpg); */
  background-color: var(--primary);
  width: 100%;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header > .container > * {
  margin: 0;
}

header > .container > .spacer {
  width: 2em;
}

header > .container > svg {
  font-size: 2em;
  stroke: currentColor;
}

header a:hover,
header svg:hover {
  opacity: 0.5;
  cursor: pointer;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-image: url(/static/img/bark-tile.jpg); */
  /* background-position-y: -69px; */
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: calc(100vh - 69px);
  width: 100vw;
}

#navbar > .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#navbar > .dropdown > .submenu {
  display: flex;
}

#navbar > .dropdown > .submenu > * {
  margin: 0.25em;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

main > .container > img {
  margin: 1em;
  border-radius: 1em;
  width: calc(100% - 2em);
}

footer {
  color: var(--text-primary);
  /* background-image: url(/static/img/bark-tile.jpg); */
  /* background-position-y: bottom; */
  background-color: var(--primary);
  width: 100%;
}

footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5em;
}

#license {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

#license > * {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  width: 100%;
  overflow-x: hidden;
}

.nodisplay {
  display: none !important;
}

.nooverflow {
  overflow: hidden;
}
