@font-face {
  font-family: Londrina;
  src: url(/static/font/LondrinaSolid-Regular.ttf);
}

@font-face {
  font-family: Londrina Light;
  src: url(/static/font/LondrinaSolid-Light.ttf);
}

@font-face {
  font-family: Londrina Thin;
  src: url(/static/font/LondrinaSolid-Thin.ttf);
}

:root {
  --primary: #39203380;
  --secondary: #39203350;
  --text: #fff4e2;
  --bg: #ff8967;
  --bg1: #392033;
  --bg2: #fd6051;
  --bg3: #ff8967;
  --bg4: #fec051;
}

* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  background: linear-gradient(
    var(--bg1) 64px,
    var(--bg2),
    var(--bg3),
    var(--bg4) calc(100% - 15px)
  );
  color: var(--text);
  font-family: Londrina;
  min-height: 100vh;
}

header {
  color: var(--text-primary);
  background-color: var(--primary);
  width: 100%;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container > * {
  margin: 0;
}

header > .container > .spacer {
  background-image: url(/static/img/hhicon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

header > .container > svg {
  font-size: 2rem;
  stroke: currentColor;
  margin: 1rem;
}

a:hover,
header svg:hover {
  opacity: 0.5;
  cursor: pointer;
}

#navbar {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  z-index: 99;
}

#navbar > .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#navbar > .dropdown > .submenu {
  display: flex;
}

#navbar > .dropdown > .submenu > * {
  margin: 0.25rem;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

main > .container > img {
  margin: 1rem;
  border-radius: 1rem;
  width: calc(100% - 2rem);
}

footer {
  color: var(--text-primary);
  background-color: var(--primary);
  width: 100%;
}

footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}

#license {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

#license > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  width: 100%;
  overflow-x: hidden;
}

.nodisplay {
  display: none !important;
}

.nooverflow {
  overflow: hidden;
}

/* Title font size steps */
@media screen and (max-width: 350px) {
  header > .container > #title > h1 {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 320px) {
  header > .container > #title > h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 290px) {
  header > .container > #title > h1 {
    font-size: 1.25em;
  }
}

/* Full size navbar */
@media screen and (min-width: 800px) {
  #menu-button {
    display: none;
  }

  #navbar {
    gap: 1rem;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0 1rem;
  }
}

/* Mobile navbar */
@media screen and (max-width: 799px) {
  #navbar {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: calc(100vh - 64px);
    width: 100vw;
  }
}
