@font-face {
  font-family: Londrina;
  src: url(/static/font/LondrinaSolid-Regular.ttf);
}

:root {
  --primary: #5fb5a8;
  --text-primary: #ffffff;
  --secondary: #7ed8cd;
  --text-secondary: #ffffff;

  --bg1: #fdd3dd;
  --bg2: #f3bdca;
  --bg3: #f49da3;
}

* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(244, 157, 163);
  background: linear-gradient(var(--bg1), var(--bg2), var(--bg3));
  color: white;
  font-family: Londrina;
  min-height: 100vh;
}

header {
  color: var(--text-primary);
  background-color: var(--primary);
  width: 100%;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container > * {
  margin: 0;
}

header > .container > .spacer {
  background-image: url(/static/img/hhicon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

header > .container > svg {
  font-size: 2rem;
  stroke: currentColor;
  margin: 1rem;
}

a:hover,
header svg:hover {
  opacity: 0.5;
  cursor: pointer;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: calc(100vh - 64px);
  width: 100vw;
}

#navbar > .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#navbar > .dropdown > .submenu {
  display: flex;
}

#navbar > .dropdown > .submenu > * {
  margin: 0.25rem;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

main > .container > img {
  margin: 1rem;
  border-radius: 1rem;
  width: calc(100% - 2rem);
}

footer {
  color: var(--text-primary);
  background-color: var(--primary);
  font-size: 0.75rem;
  width: 100%;
}

footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}

#license {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

#license > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  width: 100%;
  overflow-x: hidden;
}

.nodisplay {
  display: none !important;
}

.nooverflow {
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  header > .container > #title > h1 {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 355px) {
  header > .container > #title > h1 {
    font-size: 1.5em;
  }
}
