{{define "title"}}{{.Title}}{{end}}
{{define "head"}}
<link rel="stylesheet" href="/static/css/animals.css"/>
{{end}}
{{define "main"}}
<div id="cardbox">
  {{range .Animals}}
  <a class="card" href="{{.ID}}">
    <img src="{{with .Images}}
    {{with index . 0}}{{.FilePath}}/{{.FileName}}{{end}}
    {{end}}" alt="{{.Name}} image"/>
    <h2>{{.Name}}</h2>
  </a>
  {{end}}
</div>
{{end}}
