{{define "title"}}{{.Title}}{{end}}
{{define "meta"}}
<meta property="og:title" content="{{.Title}}"/>
{{with .Image}}
<meta property="og:image" content="{{.}}"/>
{{end}}
{{end}}
{{define "head"}}
<link rel="stylesheet" href="/static/css/cards.css"/>
{{end}}
{{define "main"}}
<div id="cardbox">
  {{range .Cards}}
    <a class="card" href="{{.Path}}">
      <img src="{{with .Image}}{{.}}{{end}}" alt="{{.Title}} image"/>
      <h2>{{.Title}}</h2>
    </a>
  {{end}}
</div>
{{end}}
