{{define "title"}}{{.Title}}{{end}}
{{define "meta"}}
<meta property="og:title" content="{{.Title}}"/>
<meta property="og:image" content="/static/img/hhicon.png"/>
{{end}}
{{define "head"}}
<link rel="stylesheet" href="/static/css/message.css"/>
{{end}}
{{define "main"}}
<h2 id="message">{{.Message}}</h2>
{{end}}
